# --- Maven & Build Artifacts ---
target/
test-output/
*.class
bin/
*.jar

# --- Reports & Logs ---
logs/
reports/
screenshots/
ExtentReports/
surefire-reports/
*.log

# --- IDE Configurations (Eclipse/IntelliJ/VS Code) ---
.idea/
.vscode/
.settings/
.classpath
.project
*.iml
*.launch

# --- OS & Misc Junk ---
.DS_Store
Thumbs.db
testing.txt