# --- Maven & Build ---
target/
test-output/
*.class

# --- Logs & Reports ---
logs/
reports/
screenshots/
ExtentReports/
surefire-reports/

# --- IDE Specific (Eclipse/IntelliJ/VS Code) ---
.idea/
.vscode/
.settings/
.classpath
.project
*.iml
*.launch
bin/

# --- OS Junk ---
.DS_Store
Thumbs.db